.bg-img-tata {
  /* The image used */
  background-image: url("https://res.cloudinary.com/dqi7etmsi/image/upload/v1561455020/unbenannt-_5-von-1_gzmuxn.jpg");
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
  background-repeat: no-repeat;
}

.tata-text {
  width: 50%;
  position: absolute;
  right: 50px;
  margin-top: 150px;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.social{
  margin-top: 50px;
}
