<div class="navbar">
  <h1>Andrzej Swierczynski</h1>
  <div class = "linksto">
    <a class="navigation-link w-nav-link w--current" href="/" style="max-width: 940px;">Home</a>
    <a class="navigation-link w-nav-link w--current" href="/pages/gallery" style="max-width: 940px;">Gallery</a>
    <a class="navigation-link w-nav-link w--current" href="/pages/about" style="max-width: 940px;">Contact</a>
  </div>
   <div>
     <p> is an artists based in Germany(Krefeld)since 1986
    <p><strong>1976-1982</strong> Studium der Grafik und Malerei in Krakau, Magister der schönen Künste seit 1986 in Deutschland lebt und arbeitet als freischaffender Künstler in Krefeld<p>

    <p><strong>solo exhibitions (selection)</strong>

     <p><strong>1986</strong> Galerie Quadrat, Duisburg (Germany) </p>

     <p><strong>1986</strong> Galerie D. Kabiesz, Düsseldorf (Germany) </p>

     <p><strong>1987</strong> Galerie D. Kabiesz, Düsseldorf (Germany) </p>

    <p><strong>1987</strong> Galerie Quadrat, Duisburg (Germany) </p>

    <p><strong>1990</strong> Galerie am Quall Hann, Gruiten (Germany) </p>

    <p><strong>1990</strong> Galerie Ulla Sommer, Düsseldorf (Germany) </p>

    <p><strong>1991</strong> Galerie Ulla Sommer, Düsseldorf (Germany)</p>

    <p><strong>1992</strong> Galerie Allersmaborg, Groningen (Germany)</p>

    <p><strong>1997</strong> Kunst Spektrum GKK, Krefeld (Germany)</p>

    <p><strong>1997</strong> Kulturfabrik, Krefeld (Germany)</p>

    <p><strong>1998</strong> e.t.c., Galerie am Nil, Köln (Germany)</p>

    <p><strong>1999</strong> NASS Kulturfabrik, Krefeld (Germany)</p>

    <p><strong>2003</strong> KSA, Duisburg (Germany)</p>

    <p><strong>2005</strong> Galerie K22a, Düsseldorf (Germany)</p>

    <p><strong>2006</strong> Studio27, Köln (Germany)</p>

    <p><strong>2007</strong> Meine Königin, Nettersheim (Germany)</p>

    <p><strong>2007</strong> Kunstraum Parterre, Düsseldorf (Germany)</p>

    <p><strong>2015</strong> Galerie unter anderen, Krefeld (Germany)</p>

<hr>

  <p><strong>group exhibitions (selection)</strong></p>

  <p><strong>1989</strong> Galerie Quadrat, Duisburg (Germany)</p>

  <p><strong>1991</strong> Osteuropäische Künstler im Westen, a.k.s. Dortmund (Germany)</p>

  <p><strong>1991</strong> Galerie Ulla Sommer, Düsseldorf (Germany)</p>

  <p><strong>1991</strong> Kulturforum des Kreies Düren, Burg Nideggen(Germany)</p>

  <p><strong>1994</strong> Kunst und Umwelt, Mönchengladbach (Germany)</p>

  <p><strong>1994</strong> Polnische Künstler in Deutschland – heute, Deutschlandradio Köln</p>

  <p><strong>1996</strong> Facetten `96, Kulturwochen Meerbusch (Germany)</p>

  <p><strong>1996</strong> Galeria Rzeby, Warschau(Poland)</p>

  <p><strong>1997</strong> Jasim Gallery, Düsseldorf (Germany)</p>

  <p><strong>1998</strong> Ein Lebenslauf – Drei Positionen, Köln (Germany)</p>

  <p><strong>1999</strong> Lebenslinien und Farbspuren, Deutsche Welle Köln</p>

  <p><strong>2000</strong> Deux, Atelier Bat, Paris (France)</p>

  <p><strong>2000</strong> Doppelpunkt, Salzmannbau-Kulturaum, Düsseldorf (Germany)</p>

  <p><strong>2002</strong> Kunst aus Krefeld, Kunsthalle Würzburg(Germany)</p>

  <p><strong>2002</strong> QQ, Galerie Sommerring, Köln(Germany)</p>

  <p><strong>2002</strong> Nuit Blanche -Videoperformence- Oberkampf, Paris (France)</p>

  <p><strong>2003</strong> Espace Beaoupeare, Paris (France)</p>

  <p><strong>2004</strong> Andreasstadel, eins und eins, Regensburg(Germany)</p>

  <p><strong>2005</strong> Galerie 40, Düsseldorf (Germany)</p>

  <p><strong>2006</strong> Kunstforum, Willih (Germany)</p>

  <p><strong>2006</strong> Mannke Galerie, Essen (Germany)</p>

  <p><strong>2006</strong> Schreier & Metternich, fine arts, Düsseldorf (Germany)</p>

  <p><strong>2009</strong> Die große Dujardin, Krefeld (Germany)</p>

  <p><strong>2014</strong> Galerie Mönter, Meerbusch (Germany)</p>

  <p><strong>2014</strong> Pausenhof, Krefeld (Germany)</p>

  <p><strong>2014</strong> Atelier-Ausstellung Dujardin, Krefeld (Germany)</p>

</div>
</div>
