<div class="navbar">
  <a class="" href="pages/paintings" style="max-width: 940px;">paintings</a>
  <a class="navigation-link w-nav-link w--current" href="/pages/gallery" style="max-width: 940px;">videos</a>
  <a class="navigation-link w-nav-link w--current" href="/pages/about" style="max-width: 940px;">books</a>
  <a class="navigation-link w-nav-link w--current" href="/pages/about" style="max-width: 940px;">about</a>
</div>

<div class="container">
  <div class="bg-img-tata">
  </div>
    <div class="tata-text">
      <h2> <strong>Andrzey Swierczynski </strong>is an artists based in Germany(Krefeld)since 1986
      <br>
      <br>
      1976-1982 studied graphic Art and Painting at the Academy of fine Arts in Krakow (Poland). Lives since 1986 in Germany and works as a freelance artist in Krefeld.
        <div class="social">
          <a href="https://www.facebook.com/swierczynski6591/"><i class="fab fa-facebook-square"style="color:black"></i></a>
          <a href="https://www.instagram.com/swierszcz.a"><i class="fab fa-instagram"style="color:black"></i></a>
          <a href="mailto:andrzejs5608@googlemail.com"><i class="far fa-envelope"style="color:black"></i>
        </div>
      </h2>
    </div>
</div>




