 <div class = "navbar">
  <a class="" href="pages/paintings" style="max-width: 940px;">paintings</a>
  <a class="" href="pages/videos" style="max-width: 940px;">videos</a>
  <a class="" href="pages/books" style="max-width: 940px;">books</a>
  <a class="" href="pages/about" style="max-width: 940px;">about</a>
</div>

<div class="row-books">
  <div class="column-books">
    <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458359/unbenannt-_92-von-1_byuqyr.jpg">
    <br>
    <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458357/unbenannt-_93-von-1_k67xkg.jpg">
  </div>
  <div class="column-books">
    <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458349/unbenannt-_86-von-1_xhj2ea.jpg">
    <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458348/unbenannt-_85-von-1_hnx1vr.jpg">
  </div>
  <div class="column-books">
    <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458347/unbenannt-_90-von-1_pxkb7p.jpg">
     <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458347/unbenannt-_84-von-1_ylbnwi.jpg">
  </div>
</div>


<!--  <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458349/unbenannt-_86-von-1_xhj2ea.jpg"style="width:100%"> -->
