 <div class = "navbar">
  <a class="" href="pages/paintings" style="max-width: 940px;">paintings</a>
  <a class="" href="pages/videos" style="max-width: 940px;">videos</a>
  <a class="" href="pages/books" style="max-width: 940px;">books</a>
  <a class="" href="pages/about" style="max-width: 940px;">about</a>
</div>
