<div class="navbar">
  <h1>Contact</h1>
  <div class = "linksto">
    <a class="navigation-link w-nav-link w--current" href="/" style="max-width: 940px;">Home</a>
    <a class="navigation-link w-nav-link w--current" href="/pages/gallery" style="max-width: 940px;">Gallery</a>
    <a class="navigation-link w-nav-link w--current" href="/pages/about" style="max-width: 940px;">About</a>

  </div>
</div>
