<div class="parent">
<div class="navbar">
  <h1>Andrzej Swierczynski</h1>
  <div class = "linksto">
  <a class="navigation-link w-nav-link w--current" href="pages/gallery" style="max-width: 940px;">Gallery</a>
  <a class="navigation-link w-nav-link w--current" href="/" style="max-width: 940px;">About</a>
  <a class="navigation-link w-nav-link w--current" href="/" style="max-width: 940px;">Contact</a>
  </div>
</div>
  <div class="videobanner">
    <video autoplay="true" src="https://res.cloudinary.com/dqi7etmsi/video/upload/v1561546762/TATA%20bilder/IMG-0443_iutvec.mp4">
  </div>

  </div>
</div>
</div>
