 <div class = "navbar">
  <a class="" href="pages/paintings" style="max-width: 940px;">paintings</a>
  <a class="" href="pages/videos" style="max-width: 940px;">videos</a>
  <a class="" href="pages/books" style="max-width: 940px;">books</a>
  <a class="" href="pages/about" style="max-width: 940px;">about</a>
</div>

<div class="row">
    <div class="column">
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458369/unbenannt-_34-von-1_zw0zwh.jpg" >
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561455048/unbenannt-_15-von-1_2_xfgexv.jpg" >
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561455023/unbenannt-_6-von-1_atq7tw.jpg">
    </div>
    <div class="column">
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458375/unbenannt-_44-von-1_mstmgb.jpg">
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458369/unbenannt-_38-von-1_kqfkjm.jpg" >
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458313/unbenannt-_65-von-1_zjpga8.jpg">
    </div>
    <div class="column">
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458374/unbenannt-_41-von-1_rpcihi.jpg">
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458313/unbenannt-_63-von-1_xgih7y.jpg" >
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458317/unbenannt-_72-von-1_yg7hoj.jpg">
    </div>
    <div class="column">
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458369/unbenannt-_38-von-1_kqfkjm.jpg">
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561458311/unbenannt-_67-von-1_ygouhb.jpg" >
      <img src="https://res.cloudinary.com/dqi7etmsi/image/upload/v1561455053/unbenannt-_18-von-1_fyrdi7.jpg">
    </div>
